*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.bak
scratch.kt
Shizuku.java
app/build/
app/release/
*.apk
*.jks
*.keystore
release.keystore
